* {
  text-align: center;
}

.Container {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
  width: 70%;
  margin: 5% 12.5% 0 12.5%;
  height: 60%;
  box-shadow: 2px 2px 4px grey;
  padding: 2% 2.5%;
}

.Radio,
.Radio:hover {
  border: 1px solid aqua;
  cursor: pointer;
  margin-top: 22px;
}

.AdSide {
  background-color: aquamarine;
  width: 50%;
  min-height: 500px;
}

.AuthSide {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.FormToggle {
  margin-bottom: 10px;
  position: relative;
  text-align: right;
  margin-right: 34px;
}

.FormToggle > button {
  height: 38px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100px;
  border: 1px solid aqua;
}

.Para {
  font-size: 28px;
  font-weight: 900;
  color: lightcoral;
  font-family: Helvetica, sans-serif;
}

.InputItem {
  display: block;
  height: 32px;
  width: 85%;
  margin: 2% 6% 2% auto;
  position: relative;
  border-radius: 4px;
  border: none;
  border-bottom: 1px solid aqua;
}

.InputItem:hover {
  border-bottom: 1px solid forestgreen;
}

.InputItem:focus,
.InputItem:focus-visible {
  border-bottom: 1px solid forestgreen;
}

.Button {
  width: 100px;
  height: 48px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  cursor: pointer;
  border: none;
  background-color: aqua;
  color: white;
}

.Button:hover {
  background-color: white;
  border: 1px solid aqua;
  color: aqua;
}
