.Container {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  margin: 56px auto;
  z-index: 100;
  background-color: tomato;
}

.Container__Content {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* justify-content: center; */
}

.Container__Title {
  align-self: center;
  justify-self: center;
  color: black;
  height: 52px;
}

.Container__Main {
  height: 80%;
  flex: 1;
}
