.Container {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 85%;
  margin: 56px 0;
  z-index: 100;
}

.Container__Container {
  width: 80%;
  align-self: center;
  margin-top: 50px;
  margin-bottom: auto;
  margin-right: 256px;
  background-color: aquamarine;
}

.Container__Title {
  color: white;
  width: 100%;
  font-size: 2rem;
  padding: 1rem 0;
  text-align: center;
  background-color: rgb(3, 147, 147);
}

.Container__Content {
  display: flex;
  flex-direction: column;

  /* height: 100%; */
}

.Container__Main {
  flex-wrap: wrap;
  min-height: 250px;
  padding: 1rem 1rem;
  font-size: 1.5rem;
}

/* .Spacer {
  flex: 1;
} */

.Container__Info {
  display: flex;
  justify-content: center;
}

.Container__Info_Item {
  display: flex;
  /* margin: 1rem 1rem; */
  padding: 1rem 1rem;
  font-size: 1.5rem;

  /* border: 1px solid black; */
}

@media (min-width: 769px) {
  .Container {
    margin-right: 380px;
    margin-left: 80px;
  }
}

@media (max-width: 768px) {
  .Container__Container {
    margin-right: 0;
  }

  .Container {
    width: 100%;
  }
}

@media (min-width: 890px) and (max-width: 768px) {
  .Container__Container {
    margin-right: 5px;
  }
}
