.Main__Container {
  /* display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 56px;
  z-index: -100;
  margin-bottom: 56px; */
}

/* .Main__Container__SideBar {
} */

/* .Main__Container_Content {
} */

@media (min-width: 768px) {
  .Main__Container_Content {
    margin-left: 250px;
  }
}
