.SideBarContainer {
  background-color: whitesmoke;
  box-shadow: 1px 2px 5px grey;
  height: 88vh;
}
.SideBar__ProfileImage {
  height: 60%;
  width: 60%;
  margin: 5% 0;
}
.SideBar__Item {
  font-family: "Powerline";
  border-radius: 50px;
  font-size: 32px;
  background-color: rgba(127, 255, 212, 0.503);
  color: rgb(13, 229, 233);
  margin: 5% 0;
  padding: 5% 0;
  font-weight: 900;
}

.SideBar__Item:hover {
  cursor: pointer;
  color: rgba(231, 245, 240, 0.918);
  background-color: rgb(13, 229, 233);
}
