.SideBar {
  display: flex;
  position: fixed;
  z-index: 200;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
  box-shadow: 1px 2px 5px grey;
  width: 70%;
  max-width: 356px;
  margin-top: 56px;
  height: calc(100% - 36px);
}

.SideBar__Profile {
  border: 1px solid black;
  /* height: 2 50px; */
  width: 80%;
  height: 250px;
}

.SideBar__Profile_Image {
  width: 100%;
  height: 100%;
}
.SideBar__Item {
}

.SideBar__Item:hover {
}

@media (max-width: 768px) {
  .SideBar {
    display: none;
  }
}
